body {
  background-image: url(https://orig00.deviantart.net/0b90/f/2012/050/c/8/c8073b1d26adc08b3a12cf3a28ef8532-d4q83ox.jpg);
  align-items: center;
  margin:;
  padding: 40px;

}

header {
  background-color:
  padding: 10px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  height: 15px;
}

ul {
  list-style-type: none;
}

input {
  width: 55%;
  height: 25px;
}

.main-box {
  background-color: yellow;
  border-style: solid;
  position: fixed;
  padding: 40px 100px 40px 100px;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.do {
  padding: 10px;
  border-radius: 30%;
  height: 60px;
  width: 60px;
  margin: 5px 20px 5px 20px;
}

.do:hover {
  background-color: blue;
}

#actions {
  text-align: center;
  flex-direction: row;
  /* grid-row-start: 7;
  grid-column-start: 2; */
  padding: 20px;
  width: 75%;
}

.petName {
  margin: 10px;
  border-style: solid;
}
 .screen {
  /* width: 200px;
  height: 350px;
  background: #fdd432;
  text-align: center;
  position: fixed;
  border-radius: 54% / 65% 65% 47% 47%;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  user-select: none;
  box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.4); */

  margin: 25px 0 25px 0;
  background-color: green;
  width: 300px;

  /* grid-row-start: 5;
  grid-column-start:2; */

/* }  */

#sidebar {
  float: left;

  flex-direction: column;
  margin: 5px 40px -30px 5px;
  top: 20%;
}

/* #ninja {
  float: bottom;
} */


#ninja-head {
  height: 200px;
  width: 180px;
  z-index: 0;
}

#ninja-body {
  height: 140px;
  width: 140px;
  z-index: -100;
}

#ninja-star {
  height: 140px;
  width: 140px;
  z-index: 100;
}

#userDisplay {
  font-size: 25px;
}
